<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="afd2bd6c-3a44-45c2-a70b-81f016d19371" Publisher="CN=markwai" Version="1.0.2.0" />
  <mp:PhoneIdentity PhoneProductId="afd2bd6c-3a44-45c2-a70b-81f016d19371" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>CrossDeviceSearch.UWP</DisplayName>
    <PublisherDisplayName>Charles</PublisherDisplayName>
    <Logo>Assets\icon-50x50.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CrossDeviceSearch.UWP.App">
      <uap:VisualElements DisplayName="OmniSearch" Square150x150Logo="Assets\icon-300x300.png" Square44x44Logo="Assets\icon-88x88.png" Description="CrossDeviceSearch.UWP" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\icon-620x300.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\omnisearch-splash.png" BackgroundColor="white" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="allJoyn" />
    <Capability Name="codeGeneration" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="enterpriseAuthentication" />
    <uap:Capability Name="appointments" />
    <uap:Capability Name="blockedChatMessages" />
    <uap:Capability Name="chat" />
    <uap:Capability Name="contacts" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="objects3D" />
    <uap:Capability Name="phoneCall" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="sharedUserCertificates" />
    <uap:Capability Name="userAccountInformation" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="voipCall" />
    <DeviceCapability Name="bluetooth" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>